/* WINDOW */
html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#titlebar {
    position: fixed;
    z-index: 10;
    width: 100vw;
    height: 4vh;
    background-color: #444;
    -webkit-user-select: none;
    -webkit-app-region: drag;
    
    
}

#titlebar p {
    font-size: 0.8rem;
    margin-top:0.5rem;
    color:#ddd;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

.titlebar-button {
    position: absolute;
    top: 0vw;
    height: 4vh;
    width: 3.5vw;
    font-size: 1.2rem;
    border: none;  
    color:#ddd;
    background-color: #444;
    -webkit-app-region: no-drag;
}

.titlebar-button:hover {
    background-color: #555;
}

.titlebar-button:active {
    filter:brightness(120%);
}

.titlebar-button:focus {
    outline: none;
}

#close {
    right: 0vw;
}

#close:hover {
    background-color: #E22;
}

#maximize {
    right: 3.5vw;
}

#minimize {
    right: 7vw;
    padding-bottom: 0.2rem;
}

/* INTERFACE */
#main-body {
    position: fixed;
    z-index: 0;
    top: 4vh;
    width: 100vw;
    height: 96vh;
}

#threeJSRenderer {
    position: absolute;
    z-index: -1;
}

.menu-btn,
.action-btn {
    position: relative;
    z-index: 2;
    width: 4vh;
    height :4vh;
}

.move-btn {
    position: relative;
    z-index: 2;
    width: 3vh;
    height: 3vh;
}

.menu-div {
    position: relative; 
    display: inline-block;
}

.menu-content {
    position: absolute;
    z-index: 1;
    display: none;
}

.menu-div:hover > .menu-content {
    display: block;
}

#turtleDisplay {
    position: relative;
    top: 0vh;
    width: 100vw;
    height: 5vh;
    display: block;
    background-color: #444;
    opacity: 0.8;
}

.inv-slot-table {
    position: relative;
    display: block;
}

.inv-slot-row {
    position: relative;
    display: block;
    background-color: green;
}

.inv-slot {
    position: relative;
    display: inline-block;
    width: 3vh;
    height: 3vh;
}