/* WINDOW */
html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#titlebar {
    position: fixed;
    z-index: 10;
    width: 100vw;
    height: 4vh;
    background-color: #444;
    -webkit-user-select: none;
    -webkit-app-region: drag;
    
    
}

#titlebar p {
    font-size: 0.8rem;
    margin-top:0.5rem;
    color:#ddd;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

.titlebar-button {
    position: absolute;
    top: 0vw;
    height: 4vh;
    width: 3.5vw;
    font-size: 1.2rem;
    border: none;  
    color:#ddd;
    background-color: #444;
    -webkit-app-region: no-drag;
}

.titlebar-button:hover {
    background-color: #555;
}

.titlebar-button:active {
    filter:brightness(120%);
}

.titlebar-button:focus {
    outline: none;
}

#close {
    right: 0vw;
}

#close:hover {
    background-color: #E22;
}

#maximize {
    right: 3.5vw;
}

#minimize {
    right: 7vw;
    padding-bottom: 0.2rem;
}

/* INTERFACE */
#main-body {
    position: fixed;
    z-index: 0;
    top: 4vh;
    width: 100vw;
    height: 96vh;
}

#threeJSRenderer {
    position: absolute;
    z-index: -1;
}

.menu-div {
    position: relative; 
    display: inline-block;
}

.menu-content {
    position: absolute;
    z-index: 1;
    display: none;
}

.menu-div:hover > .menu-content {
    display: block;
}

.menu-btn,
.action-btn {
    position: relative;
    z-index: 2;
    width: 4vh;
    height :4vh;
}

/* Movement Controls */
#movement > div {
    position: relative;
    display: inline-block;
    padding: 0.5vh;
}

#movement button {
    position: relative;
    z-index: 2;
    width: 3vh;
    height: 3vh;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
}

#move-col-1 button {
    display: block;
}

#move-col-2 button {
    display: inline-block;
}

#move-row-1 > #move-fwd {
    display: block;
    margin: 0 auto;
}

/* Turtle Display */
#sidebar {
    position: relative;
    float: left;
    width: 20vw;
    height: 100vh;
    display: block;
    background-color: #444;
    opacity: 0.9;
}

#turtleListDisplay {
    height: 5vh;
    background-color: #222;
    display: flex;
    align-items: center;
}

#turtleListDisplay > div {
    height: 4vh;
    width: 95%;
    top: 1vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

#selected-turtle {
    align-self: center;
}

#turtleListDisplay > div > p {
    margin: 0 auto;
}


/* Inventory */
.inv-slot-table {
    position: relative;
    display: block;
}

.inv-slot-row {
    position: relative;
    display: block;
    min-width: 11vh;
}

.inv-slot {
    position: relative;
    display: inline-block;
    width: 3vh;
    height: 3vh;
}